cache:
  paths:
  - vendor/

before_script:
- apt-get update
- apt-get install -y zlib1g-dev
- docker-php-ext-install zip
- curl -sS https://getcomposer.org/installer | php
- php composer.phar install --prefer-dist --no-progress --no-interaction

test:7.2:
  image: php:7.2
  script:
  - php composer.phar test

test:8.1:
  image: php:8.1
  script:
  - php composer.phar test

