name: CI

on: [push, pull_request]

jobs:
  build-test-71:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - uses: php-actions/composer@v6
        with:
          version: 1
          php_version: "7.1"

      - name: PHPUnit Tests
        uses: php-actions/phpunit@v3
        with:
          version: 7
          php_version: "7.1"
          configuration: phpunit.xml.dist
          bootstrap: vendor/autoload.php
  build-test-74:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - uses: php-actions/composer@v6
        with:
          version: 2
          php_version: "7.4"

      - name: PHPUnit Tests
        uses: php-actions/phpunit@v3
        with:
          version: 7
          php_version: "7.4"
          configuration: phpunit.xml.dist
          bootstrap: vendor/autoload.php
